* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: 1s; */
}

.episodesList {
    overflow-y: auto;
    max-height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    /* Estilos para la barra de desplazamiento */
    scrollbar-width: thin; /* Establece el ancho de la barra */
    scrollbar-color: #888 #f1f1f1; /* Establece el color de la barra y el fondo */
}

.image {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border: 5px solid orange;
    border-radius: 50%;
}

.text {
    margin-top: 5px;
    color: wheat;
    font-size: 14px;
}

.frame {
    margin-top: -200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    width: 50%;
    height: 75%;
    overflow: hidden;
    background-size: 300%;
    background-position: -50% 50%;
    background-repeat: repeat-x;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    transition: 1s; 
}

.human {
    border: 5px solid orangered;
    background-color: yellowgreen;
}

.alien {
    border: 5px solid green;
    background-color: purple;
}

.robot {
    border: 5px solid gray;
    background-color: blue;
}

.humanoid {
    border: 5px solid red;
    background-color: salmon;
}
